{{!--
	Collapse or Dropdown.

	Info: </div> and </ul> are closed automatically in the navigation.hbs.

	Variables:
		- nav: data included in {{navigation}}.
		- item: data included in the link.
		- this: all data.
--}}

{{#if open_tag}}
	{{!-- Collapse --}}
	{{#if nav.collapse}}
		<div
			class="{{#if nav.collapse_class}}{{nav.collapse_class}}{{else}}collapse{{/if}}"
			aria-labelledby="{{concat "nav-collapse-toggle-" item.slug "-" @index}}"
			id="{{concat "nav-collapse-content-" item.slug "-" @index}}"
		>
			<ul>

	{{!-- Dropdown. --}}
	{{else}}
		<div
			class="{{#if nav.dropdown_class}}{{nav.dropdown_class}}{{else}}dropdown{{/if}}"
			aria-labelledby="{{concat "nav-dropdown-toggle-" item.slug "-" @index}}"
			id="{{concat "nav-dropdown-content-" item.slug "-" @index}}"
		>
			<ul>
	{{/if}}

{{else}}
	</ul></div>
{{/if}}
