{{!--
	Toggle collapse or dropdown.

	Variables:
		- nav: data included in {{navigation}}.
		- item: data included in the link.
		- this: all data.
 --}}

{{!-- Collapse --}}
{{#if nav.collapse}}
	<button
		aria-expanded="false"
		class="collapse-toggle nav-link nav-link-{{item.slug}}"
		aria-controls="{{concat "nav-collapse-content-" item.slug "-" @index}}"
		id="{{concat "nav-collapse-toggle-" item.slug "-" @index}}"
	>
		<span class="label">{{item.label}}</span>
	</button>

{{!-- Dropdown. --}}
{{else}}
	{{> "navigation/link"}}
	<button
		aria-expanded="false"
		class="dropdown-toggle"
		aria-controls="{{concat "nav-dropdown-content-" item.slug "-" @index}}"
		aria-label="{{t "Show {label} dropdown navigation" label=item.label}}"
		id="{{concat "nav-dropdown-toggle-" item.slug "-" @index}}"
	></button>
{{/if}}