{{#*inline "section-hero"}}
	{{#match style "Disabled"}}
		<h1 class="screen-reader-text">{{#if title}}{{title}}{{else}}{{@site.title}}{{/if}}</h1>
	{{else}}
		<section class="section-hero{{#match style "Center"}} section-hero-center{{/match}} container">
			<h1{{#if accent_color}} style="--tag--color: {{accent_color}};"{{/if}}>{{#if title}}{{title}}{{else}}{{@site.title}}{{/if}}</h1>

			{{!-- Location. --}}
			{{#if location}}<div class="section-hero-subtitle section-hero-location">{{location}}</div>{{/if}}

			{{!-- Count posts. --}}
			{{#if count_posts}}{{#unless location}}
				<div class="section-hero-subtitle">{{plural count_posts empty=(t "0 posts") singular=(t "% post") plural=(t "% posts")}}</div>
			{{/unless}}{{/if}}

			{{!-- Excerpt --}}
			{{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}

			{{!-- Social links. --}}
			{{#if show_social_links}}
				{{> "component/social-links"}}
			{{/if}}

			{{!-- Author links on the author page. --}}
			{{#if show_author_links}}
				{{> "component/social-links-author"}}
			{{/if}}

			{{#if feature_image}}
			<figure class="section-hero-image">
				{{> "component/image" fast=true src=feature_image alt=feature_image_alt altElse=title}}
				{{#if feature_image_caption}}
					<figcaption>{{feature_image_caption}}</figcaption>
				{{/if}}
			</figure>
			{{/if}}
		</section>
	{{/match}}
{{/inline}}

{{#if style}}
	{{> "section-hero"}}
{{else}}
	{{> "section-hero" style=@custom.hero_style}}
{{/if}}
