<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-scheme="{{#match @custom.color_scheme "Dark"}}dark{{else match @custom.color_scheme "Light"}}light{{else}}system{{/match}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{!-- Basic meta - advanced meta is output with {{ghost_head}} below --}}
	<title>{{meta_title page=(t " (Page %)")}}</title>

	{{!-- Script for theme data --}}
	{{> "theme-head-script"}}

	{{!-- Script for color scheme --}}
	{{#if @custom.display_color_scheme_toggle}}
	{{> "color-scheme-head-script"}}
	{{/if}}

	{{!-- Preload scripts --}}
	<link rel="preload" as="style" href="{{asset "built/index.css"}}">
	<link rel="preload" as="script" href="{{asset "assets/vendors/pvs.min.js"}}">
	<link rel="preload" as="script" href="{{asset "built/index.js"}}">

	{{!-- Preload font. --}}
	<link rel="preload" href="{{asset "vendors/Geist-Variable.woff2"}}" as="font" type="font/woff2" crossorigin/>

	{{!-- Preload main styles and scripts for better performance --}}
	<style>
		@font-face {
			font-family: 'Geist';
			font-display: swap;
			src: url({{asset "vendors/Geist-Variable.woff2"}}) format("woff2-variations");
			font-weight: 100 900;
		}

		:root {
			--featured-image--aspect-ratio: {{@custom.feature_image_aspect_ratio}};
		}
	</style>

	{{!-- PVS styles. --}}
	<link rel="stylesheet" type="text/css" href="{{asset "assets/vendors/pvs.min.css"}}">

	{{!-- Theme styles. --}}
	<link rel="stylesheet" type="text/css" href="{{asset "built/index.css"}}">

	{{!-- Swiper --}}
	<link rel="stylesheet" href="{{asset "assets/vendors/swiper/swiper.min.css"}}">
	<link rel="stylesheet" href="{{asset "assets/vendors/swiper/effect-cards.min.css"}}">
	<link rel="stylesheet" href="{{asset "assets/vendors/swiper/a11y.min.css"}}">
	<link rel="stylesheet" href="{{asset "assets/vendors/swiper/free-mode.min.css"}}">

	{{!-- Ivent. --}}
	<script src="{{asset "assets/vendors/ivent.min.js"}}"></script>

	{{!-- PVS. --}}
	<script src="{{asset "assets/vendors/pvs.min.js"}}"></script>

	{{!-- Custom styles. --}}
	<link rel="stylesheet" type="text/css" href="{{asset "custom.css"}}">

	{{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings, it should always be the last tag before the closing head tag --}}
	{{ghost_head}}
</head>

<body class="{{body_class}}{{block "add-body-class"}}">
	{{!-- Skip to content. --}}
	<a href="#content" class="button screen-reader-text"><span class="label">{{t "Skip to Content"}}</span></a>

	{{!-- Header with navigation. --}}
	{{> "layout/header"}}

	{{!-- Main content. --}}
	<main class="content" id="content">
		{{{body}}}
	</main>

	{{!-- Scroll progress. --}}
	<div class="scroll-progress-wrapper">
		<div class="scroll-progress{{#is "post"}}{{#post}}{{#if reading_time}} scroll-progress-has-time{{/if}}{{/post}}{{/is}}">
			{{#is "post"}}
				{{#post}}{{#if reading_time}}
					<span class="scroll-progress-time">
						{{reading_time minute=(t "1 min") minutes=(t "% min")}}
					</span>
				{{/if}}{{/post}}
			{{/is}}
			<button class="scroll-progress-button" aria-label="{{t "Scroll to top"}}">{{> "icons/chevron-up"}}</button>
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="11" cy="11" stroke-width="1.5" stroke="currentColor" r="0" fill="none"></circle>
			</svg>
		</div>
	</div>

	{{!-- Footer. --}}
	{{> "layout/footer"}}

	{{!-- Swiper. --}}
	<script src="{{asset "built/swiper.js"}}"></script>

	{{!-- Theme script. --}}
	<script src="{{asset "built/index.js"}}"></script>

	{{!-- Custom script. --}}
	<script src="{{asset "custom.js"}}"></script>

	{{!-- Ghost outputs required functional scripts with this tag, it should always be the last thing before the closing body tag --}}
	{{ghost_foot}}
</body>

</html>
